body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f2f5fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    text-align: center;
    width: 420px;
    transition: all 0.3s ease;
}

h2 {
    color: #004a98;
    margin-bottom: 20px;
}

button.menu-btn {
    background-color: #004a98;
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button.menu-btn:hover,
button.menu-btn.active {
    background-color: #003570;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.submenu {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.submenu button {
    background-color: #e5ecf7;
    color: #004a98;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.submenu button:hover {
    background-color: #d1e0f9;
}

.formulario {
    display: none;
    margin-top: 25px;
    text-align: left;
}

.titulo-form {
    text-align: center;
    color: #004a98;
    margin-bottom: 10px;
}

.formulario label {
    font-weight: 500;
    color: #333;
}

.formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

.formulario button {
    background-color: #004a98;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.formulario button:hover {
    background-color: #003570;
}